body{
    background-color: rgb(32, 7, 32);
    text-align: center;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    margin: 30px;
    width: 50%;
    border-radius: 40px;
}

.text{
    color: white;
    font-family: 'The Nautigal', cursive;;
}

