/* Add your code in each class */
body {
  background-color: rgb(32, 7, 32);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}
.movie-card {
}
.movie-image {
  position: absolute;
  width: 300px;
  height: 300px;
}
.movie-details-container {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}
.movie-title {
  position: absolute;
  bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.descriptions {
  color: white;
  position: absolute;
  width: 100%;

}
/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 300px;
  width: 300px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

