/* Add your code in each class */
body {
  background-color: rgb(32, 7, 32);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 30%;
  left: 30%;

}
.movie-card {
  
}
.movie-details-container {
  background-image: url(/assets/harrypotter.jpg);
  background-size: 300px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

.movie-image {
 
}

.movie-title {
  font-weight: bold;
  font-size: 20px;
}

.descriptions {
  color: white;
}
/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

